# Credenciais - NUNCA SUBIR

credentials.json
historico.json
config.json
*.tmp


# Py

*.pyc
*.pyo
venv/
.venv/
dist/
build/
*.spec

# Logs gerados localmente

update_log.txt
credentials_log.txt

# Sistema Operacional

Thumbs.db
desktop.ini
.DS_Store